@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

@keyframes appbutton {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes titleanim {
    0% {
        opacity: 0%;
        top: 150px;
    }
    100% {
        opacity: 100%;
        top: 200px;
    }
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #181825;

}

.main-container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1e1e2e;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px; /* Adjust padding as needed */
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width */
    display: flex;
    align-items: center;
    justify-content: center;

}


@media (max-width: 991px) {
    .header {
        max-width: 100%;
        flex-wrap: wrap;
        padding-right: 20px;
    }
}

.img {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 75px;
    max-width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
}

.users, .apply {
    color: #fff;
    font: 400 36px Comfortaa, sans-serif;
    padding-right: 100px;
    text-decoration: none;
}

.divider {
    background-color: #313244;
    min-height: 2px;
    width: 100%;
}

@media (max-width: 991px) {
    .divider {
        max-width: 100%;
    }
}
.img {
    border-radius: 10px;
}

.vnc {
    opacity: 0;
    font-family: 'Comfortaa', sans-serif;
    color: #fff;
    font-size: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30% !important;
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center both horizontally and vertically */
    animation: titleanim;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    position: absolute; /* Use absolute positioning */
    width: 100%; /* Occupy full width of the parent */
    text-align: center; /* Center text within the div */
}

.applytxt {
    font-family: 'Comfortaa', sans-serif;
    color: #fff;
    font-size: 36px;
    text-decoration: none; /* Remove default link underline */
}

.appbutton {
    opacity: 0;
    width: 200px;
    height: 70px;
    background-color: #1e1e2e;
    border: 2px solid #313244;
    border-radius: 20px; /* Rounded corners */
    position: absolute; /* Use absolute positioning */
    top: 50%;
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center both horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: appbutton;
    animation-duration: 1.3s;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
}

.chopperpics{
    opacity: 0;
    height: 200px;
    width: auto ;
    border-radius: 10px;
    position: relative;
    margin-top: 300px;
    margin-left: 50px;
    animation: appbutton;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;


}

#chopbottom{
    margin-top: 45px;
}

body {
    overflow: hidden;
 }


